.main {
    
    .boxes {
        float: left;
        width: 30%;
        height: 300px;
        border: 1px grey solid;
        margin: 1.5%
    }

    .dash-subs {
        overflow-y: scroll;
    }
}