.line1 {
  float: right;
  width: 50%;
  margin-bottom: 30px;
}

.line2{
    margin-left: 10px;
}

.search-bar {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 50%;
}

input {
  float: left;
  padding: 10px;
}

p{
  content: "";
  clear: both;
  display: table;
  margin-top: 25px;
  margin-bottom: 15px;
}

